@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,700&family=Open+Sans&family=Roboto:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 62.5% 'Roboto', sans-serif;
}
nav {
  font-size: 1.8rem;
}
li {
  list-style-type: none;
}

li:hover {
  border-bottom: solid 2px white;
  padding: 0.9rem 0;
}
.dropbtn {
  padding: 0.9rem 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 16rem;
}
.dropdown-content a {
  display: block;
  padding: 1.5rem;
  text-decoration: none;
  background-color: white;
}
.dropdown-content a:hover {
  color: rgba(20, 20, 19, 0.767);
}
.dropdown:hover .dropdown-content {
  display: block;
}
