@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 62.5% 'Roboto', sans-serif;
}
nav {
  font-size: 1.8rem;
  font-style: italic;
}
li {
  list-style-type: none;
}

li:hover {
  border-bottom: solid 2px white;
  padding: 0.9rem 0;
}
.dropbtn {
  padding: 0.9rem 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 16rem;
}
.dropdown-content a {
  display: block;
  padding: 1.5rem;
  text-decoration: none;
  background-color: white;
}
.dropdown-content a:hover {
  color: rgba(20, 20, 19, 0.767);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.middle-links li {
  padding: 10px 0;
}

@media (min-width: 450px) {
  .image-text-container {
    height: 350px;
  }
}

@media (max-width: 450px) {
  .services-container img {
    height: 100px;
    width: 300px;
    object-fit: cover;
  }
}

@media (max-width: 450px) {
  .tech-small-card img {
    width: 200px;
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .middle-links li {
    margin: 0 6px;
  }
}
